{% extends "layout.html.twig" %}

{% block content %}
    <h1>Configs List</h1>
    <div><a href="/config/new" class="btn btn-info">Create New Config</a></div>
    {% if message %}
        <div class="alert-info">{{ message }}</div>
    {% endif %}
    <div class="bs-example">
        {% if configs %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Last Modified</th>
                <th>API Key</th>
                <th colspan="2" align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for row in configs %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.dateCreated|date('Y-m-d') }}</td>
                        <td>{{ row.dateModified|date('Y-m-d') }}</td>
                        <td>{{ row.apiKey }}</td>
                        <td><a href="{{ path('admin_config_edit', {'id':  row.id  }) }}" class="btn btn-info">Edit</a></td>
                        <td>
                            <a href="{{ path('admin_config_delete', {'id':  row.id  }) }}" onclick="return confirm('Are you sure you want to delete {{ row.name }} ?')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                {% endfor %}
            {% else %}
                <p>No records found</p>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}